{%extends "blog/base.html"%}
{%block content%}
   <article class="media content-section">
       <img class ="rounded-circle article-img" src="../../../media/profile_pics/cintron.jpg"/>
       <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Site Admin Matthew Cintron</a>
              <small class="text-muted">Created 5/8/2019</small>
            </div>
            <h2><a class="article-title" href="#">Welcome To The Django Blog</a></h2>
            <p class="article-content">Django Blog is a web application built using Python, JavaScript, and Bootstrap using the Django web framework. The site allows for users to post blog style info on topics they wish to discuss once they are registered. Users have profile pages and can upload images to them witch are tracked and resized for space on the server with the python lib pillows all data entries are saved and clicking on a user’s name will show all of their posts.</p>
            <br/>
              <p class="article-content"> The Dajngo Blog is primarily a space for posting your thoughts on philosophy current events or just the nature of the ever changing world. You are free to voice your opinion but be warned Moderators will take down any posts they view as violent, sexual, explicit or offensive and multiple offenses will result in a deleted account.  </p>
          </div>
        </article>
{%endblock content%}}

